# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/

# Base de données (on ne veut pas envoyer la DB locale)
*.db
*.sqlite
*.sqlite3
instance/

# Variables d'environnement (TRÈS IMPORTANT)
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
